@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sync View Home</title>
</head>
<body>
    <h1>Sync View - Home</h1>
    <br /><br />
    @Html.ActionLink("Home", "Index")
    @Html.ActionLink("Video Session", "VideoBrowser")
    @Html.ActionLink("About Sync View", "AboutPage")
    <br /><br />
    <div>
        <h3>Welcome to Sync View @if (Session["nickname"] != null){ @Session["nickname"].ToString()}</h3>
        <p></p>

        @if(Session["nickname"] == null){
            using (Html.BeginForm()){
                @Html.ValidationSummary()
                <p>What is your nickname?</p> <br />
                <input type="text" name="nickname" />
                <input type="submit" name="submit" value="Submit" />
            
            
                <input type="text" name="videoURL" />
            }
        }
    </div>
    <iframe width="854" height="510" src="@ViewBag.videoURL" frameborder="0" allowfullscreen></iframe>

</body>
</html>
